/* common Style */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
}
.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.section-des {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}   
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 226px;
}
.nav_title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li {
    list-style: none;
    margin-right: 51px;
}
nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
/* header related styles */
.header{
    background-color:#FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 38px 38px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 584px;
    height: 676px;

}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-des{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}
/* main section styles */
main {
    max-width: 1140;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
               
/* about section styles */
.about{
    padding: 131px 157px 131px 157px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 230px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info {
    text-align: center;
}
.info-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}
.info-descript{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}
#what-i-do-des {
    padding: 30px 345px;
}
.skills-container {
    display: flex;
    margin: 50px 230px;
}
.skill {
    padding: 30px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title {
    color: var(--Dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
}
.skill-des {
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
}
/* Resume-Section styles */
.resume-column-title {
    color: #474747;
    font-size: 30px;
}
.resume-container{
    display: flex;
    gap: 70px;
    margin: 50px 230px;
}
.resume-container hr{
    margin: 30px 0;
}
.resume-item-institute{
    color: var(--Dark-03, #757575);
    margin-top: 1px;
    
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer style  */
footer {
    display: flex;
    background: #FFF8F3;
    gap: 117px;
    margin-top: 131px;
    padding: 130px 230px;
}
.footer-column {
    width: 50%;
}
.footer-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.social-links a {
    margin-right: 24px;
    margin-top: 30px;
    
}
.contact input[type="text"], .contact input[type="email"], textarea {
    display: block;
    margin-bottom: 24px;
    padding: 18px 30px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}